.top-menu {
    background-color: black;
    height:30px;

    .top-menu-item{
        margin-left: 10px;

        a {
            color: white;
        }
    }

    .right-menu {
        color:white;
        position: absolute;
        right: 20px;
        top: 10px;
    }
} 