<div *ngIf="!this.showLoginForm && !this.accountService.isLogged()">
    <button (click)="loginFormClick()">Log in</button>
</div>


<div *ngIf="this.showLoginForm && !this.accountService.isLogged()">
    <form #form="ngForm" (ngSubmit)="login()">
        <input placeholder="Email" [(ngModel)]="this.email" name="email" required>
        <input placeholder="Password" [(ngModel)]="this.password" name="password" required>
        <button type="submit">Login</button>
        <button (click)="cancel()">Cancel</button>
    </form>
</div>



<div *ngIf="this.accountService.isLogged()">
    Hello {{this.accountService.getUser().email}}
    <button (click)="logout()">Log out</button>
</div>