<span *ngIf="!this.accountService.isLogged() && !isLoginForm">
  <button (click)="openLoginForm()">Log in</button>
</span>

<form #form="ngForm" (ngSubmit)="submit()">
  <span *ngIf="!this.accountService.isLogged() && isLoginForm">
    <input placeholder="Email" [(ngModel)]="email" name="email" required>
    <input placeholder="Password" [(ngModel)]="userPassword" name="userPassword" required>
    <button [disabled]="!this.form.valid" type="submit">Login</button>
    <button (click)="cancel()">Cancel</button>

    <span *ngIf="!this.form.valid && this.form.touched">
      Login and password required
    </span>
  </span> 
</form>

<span *ngIf="this.accountService.isLogged()">
  <img [src]="this.accountService.user.avatar">
  Hello {{this.accountService.user.email}}
  <button (click)="logout()">Logout</button>
</span>